#!/bin/bash

{# Only ask for keyboard if not fully unattended #}
{% if config['full_unattended_install'] is not defined or config['full_unattended_install'] != 'true' %}
/setup/change-keyboard-layout
{% endif %}

{# Include debugging infos only in develop builds #}
{% if config['environment'] is defined and config['environment'] == 'develop' %}
yad --fullscreen --title "{{ config['client_name']['long'] }} ENV {{ config['environment'] }}" \
--borders 20 --align center --button OK --image-on-top \
--image=/setup/logo.png \
--text \
"Welcome to the last step of the {{ config['client_name']['long'] }} installation

environment {{ config['environment'] }} detected. Going to print some more output here and later. Ansible will run in -vvv mode.

client_name.long: {{ config['client_name']['long'] }}
client_name.short: {{ config['client_name']['short'] }}

disk_encryption.enable: {{ config['disk_encryption']['enable'] }}
{% if config['disk_encryption']['enable'] -%}
disk_encryption.init_password: {{ config['disk_encryption']['init_password'] }}
{%- endif %}
specs.url: {{ config['specs']['url'] }}
specs.repo: {{ config['specs']['repo'] }}
specs.branch: {{ config['specs']['branch'] }}
specs.ssh_key: {% if config['specs']['ssh_key'] == "" %}not {% endif %}specified
specs.ansible-vault-key-file: {% if config['specs']['ansible_vault_key_file'] == "" %}not {% endif %}specified
initial_hostname: {{ config['initial_hostname'] }}

initial_user.username: {{ config['initial_user'] }}
initial_user.password: {{ config['initial_user'] }}

first_boot_ansible.runtype: {{ config['first_boot_ansible']['runtype'] }}
full_unattended_install: {{ config['full_unattended_install'] }}

os: {{ config['os'] }}
output.version: {{ config['output']['version'] }}
output.iso_filename: {{ config['output']['iso_filename'] }}

Click OK to proceed the installation.
"
{% endif %}
{# Skip info screen for fully unattended installation #}
{% if config['full_unattended_install'] is not defined or config['full_unattended_install'] != 'true' %}
yad --fullscreen --title "{{ config['client_name']['long'] }} Setup" \
  --borders 20 --align center --button OK --image-on-top \
  --image=/setup/logo.png \
  --text \
"Welcome to the last step of the {{ config['client_name']['long'] }} ({{ config['output']['version'] }}) installation

Click OK to proceed the installation.
"
{% endif %}
sudo mkdir -m 755 -p /var/log/{{ config['client_name']['short'] }}
sudo touch /var/log/{{ config['client_name']['short'] }}/setup.log
sudo -E bash -c "/setup/finish.sh &> /var/log/{{ config['client_name']['short'] }}/setup.log" &

FINISH_CMD_PID=${!}

sudo chown gnome-initial-setup /dev/tty2

sudo tail -f /var/log/{{ config['client_name']['short'] }}/setup.log | tee /dev/tty2 | yad --fullscreen --no-buttons --title "{{ config['client_name']['long'] }} Setup" \
  --progress --enable-log --log-expanded --log-on-top --log-height 500 \
  --text 'Please wait until the setup is finished' &

# Wait until the finish.sh background process exits and check its return code
wait ${FINISH_CMD_PID}

FINISH_CMD_RC=${?}

if [[ ${FINISH_CMD_RC} -ne 0 ]]; then
  case ${FINISH_CMD_RC} in
    1) ERROR_MSG="General command failure" ;;
    2) ERROR_MSG="Network connectivity issues" ;;
    3) ERROR_MSG="AD join failure" ;;
    4) ERROR_MSG="Ansible failure" ;;
    5) ERROR_MSG="Vault failure" ;;
    6) ERROR_MSG="ISO outdated" ;;
    *) ERROR_MSG="Unknown error code ${FINISH_CMD_RC}" ;;
  esac
fi

sudo cat /var/log/{{ config['client_name']['short'] }}/setup.log | yad --fullscreen --title "{{ config['client_name']['long'] }} Setup" \
  --borders 20 --align center --button gtk-ok \
  --button "Shutdown":"sudo systemctl halt" \
  --text-info --tail \
  --image=/setup/logo.png --image-on-top \
  --text \
"Installation failed

The last step of the installation was not successful.
  Error message: ${ERROR_MSG}
  Return code: ${FINISH_CMD_RC}

Click OK to retry or Shutdown to cancel.
"

sudo systemctl restart gdm.service
